VITE_API_URL=http://localhost:3000
VITE_ADMIN_APP_URL=http://localhost:5173
VITE_DOCTOR_APP_URL=http://localhost:5174
VITE_RECEPTIONIST_APP_URL=http://localhost:5175
VITE_PHARMACIST_APP_URL=http://localhost:5176
